:root {
	--gray: #DCDCDC;
	--calculatorGray: #eaeaea;
}

body {
	background-color: var(--gray);
}

.calculator {
  position: absolute;
  width: 873px;
  height: 1554.73px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--calculatorGray);
  box-shadow: 0px 364.775px 146.183px rgba(0, 0, 0, 0.01), 0px 204.93px 122.958px rgba(0, 0, 0, 0.05), 0px 91.5352px 91.5352px rgba(0, 0, 0, 0.09), 0px 23.2254px 50.5493px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 27.3239px 27.3239px 109.296px 109.296px;
}


.on-off-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 226.79px;
	height: 161.21px;
	left: 109.3px;
	top: 519.15px;
}

#on-indicator {
	position: absolute;
	width: 19.13px;
	height: 19.13px;
	left: 30.06px;
	top: 125.69px;
	
	background: #6E6C6F;
	box-shadow: 1.3662px -1.3662px 1.3662px #FFFFFF, inset 2.73239px 2.73239px 1.3662px -2.73239px rgba(0, 0, 0, 0.6);
	border-radius: 136.62px;
}

#off-indicator {
	position: absolute;
	width: 19.13px;
	height: 19.13px;
	right: 30.06px;
	top: 125.69px;
	outline: solid #6E6C6F;
	outline-offset: -2.75px;
	box-shadow: 1.3662px -1.3662px 1.3662px #FFFFFF, inset 2.73239px 2.73239px 1.3662px -2.73239px rgba(0, 0, 0, 0.6);
	border-radius: 136.62px;
}

#btn-on {
	position: absolute;
	width: 56.01px;
	height: 56.01px;
	left: 10.93px;
	top: 13.66px;
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 23.18%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #76CE1F 0%, #34540F 100%);
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.4), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
	border-radius: 136.62px;
	border-style: none;
}

#btn-on:hover {
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.3), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
	transform: scale(0.98);
    cursor: pointer;
}

#btn-on:active {
	transform: scale(0.90);
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.2), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#btn-off {
	position: absolute;
	width: 56.01px;
	height: 56.01px;
	right: 10.93px;
	top: 13.66px;
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 23.18%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #B1211E 0%, #D52A33 100%);
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.4), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
	border-radius: 136.62px;
	border-style: none;
}

#btn-off:hover {
	transform: scale(0.98);
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.3), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#btn-off:active {
	transform: scale(0.90);
	box-shadow: -5.46479px 6.83099px 6.83099px -4.09859px rgba(64, 78, 55, 0.2), inset -2.73239px 2.73239px 2.73239px rgba(255, 255, 255, 0.45), inset 0px 5.46479px 2.73239px -1.3662px rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#screen-noise-overlay {
	opacity: 0.2;
	mix-blend-mode: soft-light;
}

#calculator-noise-overlay {
	opacity: 0.2;
	mix-blend-mode: soft-light;
	border-radius: 27.3239px 27.3239px 109.296px 109.296px;
}

.display-container {

	position: absolute;
	width: 672.17px;
	height: 234.99px;
	left: 99.73px;
	top: 225.42px;

	background-image: url(media/display-container-bg.png);
	
	box-shadow: inset 0px -19.1268px 17.7606px -9.56338px rgba(255, 255, 255, 0.6), inset -1.3662px 1.3662px 1.3662px 1.3662px rgba(129, 128, 133, 0.8);
	border-radius: 10.9296px;

	display: flex;
}

.display-frame {

	position: absolute;
	width: 628.45px;
	height: 153.01px;
	left: 21.86px;
	top: 23.23px;
	background-color: #A2A0A1;

	box-shadow: inset -1.3662px 1.3662px 2.73239px 2.73239px rgba(116, 116, 116, 0.9);
	border-radius: 10.9296px;
}

.display {
	position: absolute;
	width: 531.45px;
	height: 107.93px;
	left: 47.82px;
	top: 24.59px;
	background-color: #8B957D;
	padding-right: 10px;

	box-shadow: 4.09859px 1.3662px 6.83099px rgba(218, 219, 211, 0.5), -4.09859px 1.3662px 4.09859px rgba(218, 219, 211, 0.84), inset 0px -2.73239px 0px -1.3662px rgba(0, 0, 0, 0.15), inset 0px 2.73239px 0px rgba(0, 0, 0, 0.25), inset 0px -19.1268px 23.2254px -27.3239px rgba(0, 0, 0, 0.6), inset -1.3662px 6.83099px 5.46479px 4.09859px rgba(108, 110, 99, 0.8), inset -1.3662px 12.2958px 19.1268px 1.3662px rgba(90, 91, 81, 0.4);
	border-radius: 20.493px;
}

@font-face {
    font-family: 'Digital Numbers Regular';
    src: url(digital-numbers-cufonfonts-webfont/DigitalNumbers-Regular.woff) format('woff');
    }

.display input {
	background: none;
	border: none;
	font-family: 'Digital Numbers Regular';
	text-align: end;
	font-size: 75px;
	line-height: 104px;
	color: #42453E;
	width: 100%;
}

.btn-container {

	position: absolute;
	width: 692.66px;
	height: 687.2px;
	left: 90.17px;
	top: 740.48px;

	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 5 columns */
	grid-template-rows: repeat(5, 1fr); /* 5 rows */
	justify-items: center;
	align-items: center;
}

.btn {
	width: 102.46px;
	height: 102.46px;
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 23.18%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #FFFFFF 0%, #D1D1D1 100%);
	box-shadow: -5px 5px 10px -5px rgba(0, 0, 0, 0.6), inset -2px 2px 4px rgba(255, 255, 255, 0.6), inset 4px -1px 8px -1px rgba(255, 255, 255, 0.9);
	border-style: none;
	border-radius: 277.338px;
	font-size: 37px;
	color: #4B5442;
	line-height: 96%;
}

.btn:hover {
	transform: scale(0.99);
	box-shadow: -3px 3px 8px -3px rgba(0, 0, 0, 0.6), inset -1px 1px 4px rgba(255, 255, 255, 0.7), inset 2px -0.5px 6px -0.5px rgba(255, 255, 255, 0.9);
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 28%, rgba(255, 255, 255, 0.2) 90%), linear-gradient(180deg, #FFFFFF 12%, #D1D1D1 100%);
	cursor: pointer;
}

.btn:active {
	transform: scale(0.97);
	box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.6), inset -1px 1px 2px rgba(255, 255, 255, 0.7), inset 2px -0.5px 4px -0.5px rgba(255, 255, 255, 0.9);
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 15%, rgba(255, 255, 255, 0.3) 85%), linear-gradient(180deg, #FFFFFF 8%, #D1D1D1 100%);
	cursor: pointer;
}

.btn-memory {
	color: #616A33;
}

.btn-operator {
	color: #6C5A4F;
}

.btn-clear {
	color: #6C5A4F;
}

.btn-decimal {
	color: #6C5A4F;
}

#group-memory {
	color: #616A33;
}

#btn-equal {
	width: 102.46px;
	height: 102.46px;
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #ffffffaf 15%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #ffd83e 0%, #E6A601 100%);
	box-shadow: -5px 5px 10px -5px rgba(0, 0, 0, 0.6), inset -2px 2px 4px rgba(255, 255, 255, 0.6), inset 4px -1px 8px -1px rgba(255, 255, 255, 0.5);
	border-style: none;
	border-radius: 277.338px;
	font-size: 37px;
	color: #4B5442;
	line-height: 96%;
}

#btn-equal:hover {
	box-shadow: -3px 3px 8px -3px rgba(0, 0, 0, 0.6), inset -1px 1px 4px rgba(255, 255, 255, 0.7), inset 2px -0.5px 6px -0.5px rgba(255, 255, 255, 0.5);
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #ffffffaf 10%, rgba(255, 255, 255, 0.2) 90%), linear-gradient(180deg, #ffd83e 12%, #E6A601 100%);
	cursor: pointer;
}

#btn-equal:active {
	transform: scale(0.97);
	box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.6), inset -1px 1px 2px rgba(255, 255, 255, 0.7), inset 2px -0.5px 4px -0.5px rgba(255, 255, 255, 0.5);
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #ffffffaf 8%, rgba(255, 255, 255, 0.3) 85%), linear-gradient(180deg, #ffd83e 8%, #E6A601 100%);
	cursor: pointer;
}

#braun-logo {
	position: absolute;
	left: 12.21%;
	right: 73.4%;
	top: 7.29%;
	bottom: 89.28%;
}

#calculator-bottom-shadow {
	position: absolute;
	width: 873px;
	height: 114.76px;
	left: 0px;
	top: 1439.97px;
	
	background: #EAEAEA;
	box-shadow: inset 0px -40.9859px 10.9296px -16.3944px rgba(128, 128, 128, 0.5);
	border-radius: 27.3239px 27.3239px 109.296px 109.296px;
}

.btn-disabled:hover {
	transform: none;
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 23.18%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #FFFFFF 0%, #D1D1D1 100%);
	box-shadow: -5px 5px 10px -5px rgba(0, 0, 0, 0.6), inset -2px 2px 4px rgba(255, 255, 255, 0.6), inset 4px -1px 8px -1px rgba(255, 255, 255, 0.9);
	cursor:default;
}

.btn-disabled:active {
	background: radial-gradient(28.57% 19.78% at 69.77% 27.91%, #FFFFFF 23.18%, rgba(255, 255, 255, 0.17) 91.82%), linear-gradient(180deg, #FFFFFF 0%, #D1D1D1 100%);
	box-shadow: -5px 5px 10px -5px rgba(0, 0, 0, 0.6), inset -2px 2px 4px rgba(255, 255, 255, 0.6), inset 4px -1px 8px -1px rgba(255, 255, 255, 0.9);
	cursor:default;
}
